
body {
 margin: 0;
 font-family: 'Helvetica';
 overflow: hidden;
}

:focus {
  outline: none !important;
}

.container {
 z-index: 1;
}

#map {
  height: 100vh;
  width: 100vw;
  /*z-index: -2;*/
}

.btn {
  position: absolute;
  top: 12px;
  z-index: 3;
  background-color: #ff8080;
  padding: 12px 20px;
  border-radius: 8px;
  border: 0px solid white;
  margin: 0;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 16px;
  -webkit-box-shadow: -5px 2px 10px 1px rgba(0,0,0,0.14);
  -moz-box-shadow: -5px 2px 10px 1px rgba(0,0,0,0.14);
  box-shadow: -5px 2px 10px 1px rgba(0,0,0,0.14);
}

.login-btn {
  right: 12px;
  transition: border-radius 0.4s ease-in-out;
}

.signup-btn {
  right: 112px;
  transition: padding 0.4s ease-in-out;
}

.login-clicked-signup {
  padding: 6px 20px;
}

.login-container {
  width: 200px;
  height: 220px;
  position: absolute;
  top: 50px;
  right: 12px;
  background-color: #ff8080;
  text-align: right;
  padding: 20px;
  padding-top: 0;
  border-radius: 8px 0px 8px 8px;
  z-index: 3;
  display: block;
  transition: width 0.4s ease-in-out,
  padding 0.4s ease-in-out,
  height 0.2s ease-in-out;
}

.login-clicked {
  border-radius: 8px 8px 0px 0px;
}

.login-clicked-container {
  width: 0px;
  height: 0px;
  padding: 0px;
}

.account-btn {
  position: absolute;
  top: 12px;
  right: 300px;
  z-index: 3;
  width: 100px;
  height: 75px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Vincent_van_Gogh_-_Self-Portrait_-_Google_Art_Project_%28454045%29.jpg/440px-Vincent_van_Gogh_-_Self-Portrait_-_Google_Art_Project_%28454045%29.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px 0 0 20px;
  border: 3px solid #ff8080;
  border-right: 0px solid #ff8080;
  transition: right 0.4s ease-in-out;
  -webkit-box-shadow: -5px 2px 10px 1px rgba(0,0,0,0.14);
  -moz-box-shadow: -5px 2px 10px 1px rgba(0,0,0,0.14);
  box-shadow: -5px 2px 10px 1px rgba(0,0,0,0.14);
}

.account-btn:active, .account-btn:focus {
  border: 3px solid #ff8080 !important;
  border-right: 0px solid #ff8080 !important;
}

.account-btn img {
  object-fit: cover;
}

#sideBar-right {
  background-color: white;
  border-left: 3px solid #ff8080;
  width: 300px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  -webkit-box-shadow: 5px 0px 27px 7px rgba(0,0,0,0.26);
  -moz-box-shadow: 5px 0px 27px 7px rgba(0,0,0,0.26);
  box-shadow: 5px 0px 27px 7px rgba(0,0,0,0.26);
  transition: right 0.4s ease-in-out;
}

.top-row {
  background-color: #ff8080;
  padding: 24px 24px;
  height: 39px;
}

.top-row h3 {
  color: white;
  margin: 0;
  font-size: 23px;
  font-weight: 600;
}

.top-row form {
  display: inline-block;
}

.top-row input {
  margin-top: 22px;
  border: 3px solid white;
  padding: 4px 14px;
  font-size: 12px;
  background-color: #ff8080;
  border-radius: 10px;
  color: white;
  margin-right: 7px;
}

.custom-queries {
  padding: 20px;
}

.custom-queries h4 {
  color: #444;
  font-weight: normal;
}

.custom-queries .fa {
  color: #ff8080;
  font-weight: normal;
  font-size: 19px;
}

.custom-queries input {
  color: white;
  background-color: #ff8080;
  border: 0px solid white;
  word-wrap: break-word;
  padding: 12px 17px;
  font-size: 12px;
  white-space: normal;
  text-align: left;
  border-radius: 8px;
  margin-bottom: 10px;
}

button:active, button:focus {
 border: none;
 outline: none;
}

#search-input{
    padding: 10px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    position: absolute;
    top: 10px;
    z-index: 2;
}

#search-input input{
    border: 0;
    box-shadow: none;
    font-size: 16px;
    width: 300px;
}

#search-input .input-group-btn {
  transform: translateY(-10px);
  margin-top: -50px;
}

#search-input button{
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#search-input .fa {
  font-size: 16px;
}

.clicked-right {
  right: -300px !important;
}

.account-clicked {
  right: 0px;
}
