<div id="icon-stats">
  <div class="stat-row">
    <div class="stats-col">
      <i class="fa fa-building" aria-hidden="true"></i>
      <p><span id="floors">6</span> floors</p>
    </div>
    <div class="stats-col">
      <i class="fa fa-plug" aria-hidden="true"></i>
      <p><span id="outlets">8</span> outlets</p>
    </div>
    <div id="studying" class="stats-col">
      <i class="fa fa-institution" aria-hidden="true"></i>
      <p>Studying</p>
    </div>
    <div id="computers" class="stats-col">
      <i class="fa fa-desktop" aria-hidden="true"></i>
      <p>Computers</p>
    </div>
  </div>
</div>
