<div id="icon-stats">
  <div class="stat-row">
    <div class="stats-col">
      <i class="fa fa-building" aria-hidden="true"></i>
      <p>6 floors</p>
    </div>
    <div class="stats-col">
      <i class="fa fa-plug" aria-hidden="true"></i>
      <p>8 outlets</p>
    </div>
    <div class="stats-col">
      <i class="fa fa-institution" aria-hidden="true"></i>
      <p>Studying</p>
    </div>
    <div class="stats-col">
      <i class="fa fa-desktop" aria-hidden="true"></i>
      <p>Computers</p>
    </div>
  </div>
</div>
