<div class="indv-review">
    <img src="http://3.bp.blogspot.com/-q5cZBB030eQ/T0Y-H0yyU5I/AAAAAAAANiY/iFn_CGvLSmc/s1600/Tobey+Maguire+3.jpeg" alt="">
    <div class="commentor">
    <h3>Tobey MacGuire</h3>
    <div class="avg-review-stars">
      <i class="fa fa-star star1" aria-hidden="true"></i>
      <i class="fa fa-star star2" aria-hidden="true"></i>
      <i class="fa fa-star star3" aria-hidden="true"></i>
      <i class="fa fa-star star4" aria-hidden="true"></i>
      <i class="fa fa-star star5" aria-hidden="true"></i>
    </div>
  </div>

  <p>How did that look? It looks like I AM the real spiderman.
  Andrew Garfield has nothing on my bangs that go bang bang.</p>
  <div class="comment-div divider"></div>

</div>
