<!-- Hi, you are not logged in! -->

<!-- <h1>MapDat</h1>
<p>Find me in app/views/leaflet/index.html.erb</p> -->

<!-- <div id="mapid"></div> -->

<div class="container">
  <%= render "sidebar" %>
  <a href="/signup"><button type="button" class="btn signup-btn" name="button">Sign Up</button></a>
  <button type="button" class="btn login-btn" name="button">Log In</button>
  <div class="login-container login-clicked-container">
    <%= render "sessions/form" %>
  </div>

</div>
<%= @output %>

<%= map(:center => {
  :latlng => [51.52238797921441, -0.08366235665359283],
  :zoom => 18
}) %>

<script>

$(document).ready(function(){


      $('#leftside-btn').click(function(){
        if( $('#sideBar-left').hasClass('clicked-left')){
          $(".fa-chevron-right").addClass('clicked-chevron');
          $('#sideBar-left').removeClass('clicked-left');
        } else {
          $(".fa-chevron-right").removeClass('clicked-chevron');
          $('#sideBar-left').addClass('clicked-left');
        }
          console.log("AWWWW YEAHHHH");
      });

      $('.login-btn').click(function(){
        $('.login-btn').toggleClass('login-clicked');
        $('.login-container').toggleClass('login-clicked-container');
        $('input').toggleClass('login-clicked-form');
        $('h4').toggleClass('login-clicked-h4');
        $('.signup-btn').toggleClass('login-clicked-signup');
      });

      map.zoomControl.setPosition('bottomright');

 });
</script>
