<div id="popular">
  <div class="popular-times-row">
    <div class="popular-container">
      <div class="hour" id="0" style="height: 2%;"></div>
      <div class="hour" id="1" style="height: 2%;"></div>
      <div class="hour" id="2" style="height: 10%;"></div>
      <div class="hour" id="3" style="height: 20%;"></div>
      <div class="hour" id="4" style="height: 30%;"></div>
      <div class="hour" id="5" style="height: 45%;"></div>
      <div class="hour" id="6" style="height: 50%;"></div>
      <div class="hour" id="7" style="height: 65%;"></div>
      <div class="hour" id="8" style="height: 75%;"></div>
      <div class="hour" id="9" style="height: 85%;"></div>
      <div class="hour" id="10" style="height: 95%;"></div>
      <div class="hour" id="11" style="height: 90%;"></div>
      <div class="hour" id="12" style="height: 86%;"></div>
      <div class="hour" id="13" style="height: 50%;"></div>
      <div class="hour" id="14" style="height: 12%;"></div>
    </div>
    <div class="time-row">
      <div class="time">
        <p>6am</p>
      </div>
      <div class="time">
        <p>9am</p>
      </div>
      <div class="time">
        <p>12pm</p>
      </div>
      <div class="time">
        <p>3pm</p>
      </div>
      <div class="time">
        <p>6pm</p>
      </div>
    </div>
  </div>
</div>
