<div id="review-row">
  <p class="review">4.6</p>
  <div class="avg-review-stars">
    <i class="fa fa-star star1" aria-hidden="true"></i>
    <i class="fa fa-star star2" aria-hidden="true"></i>
    <i class="fa fa-star star3" aria-hidden="true"></i>
    <i class="fa fa-star star4" aria-hidden="true"></i>
    <i class="fa fa-star star5" aria-hidden="true"></i>
  </div>
  <div class="circle-divider"></div>
  <p class="review total">12 reviews</p>
</div>
