<div id="restaurant">
  <div class="open">
    <i class="fa fa-birthday-cake" aria-hidden="true"></i>
    <h2><span id="restaurant-count">0</span> restaurants open</h2>
  </div>
  <div id="new-restaurant"></div>
</div>
