<div id="restaurant">
  <div class="open">
    <i class="fa fa-birthday-cake" aria-hidden="true"></i>
    <h2>6 restaurants open</h2>
  </div>

  <div class="single">
    <h3>Starbucks Coffee House</h3>
    <i class="fa fa-clock-o" aria-hidden="true"></i>
    <h6>10am - 6pm</h6>
    <div class="divider"></div>
  </div>
  <div class="single">
    <h3>Rising Roll</h3>
    <i class="fa fa-clock-o" aria-hidden="true"></i>
    <h6>9am - 8pm</h6>
    <div class="divider"></div>
  </div>
</div>
