<%= stylesheet_link_tag "sidebar" %>

<div id="sideBar-left">
<!-- <div id="sideBar-left" class="clicked-left"> -->
  <div class="searchBar">
    <div id="search-input">
        <div class="input-group col-md-12">
            <input type="text" class="form-control input-lg" placeholder="Search" />
            <span class="input-group-btn">
                <button class="btn-info btn-lg" type="button">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </span>
        </div>
    </div>
  </div>
  <div class="sideBar-tab">
    <button class="btn-info btn-lg" id="leftside-btn" type="button">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </button>
  </div>
  <div class="sideBar-body">
    <div class="cover">
      <img src="http://static.panoramio.com/photos/large/53625922.jpg" alt="" />
    </div>
    <div class="title">
      <h3>Marston Science Library</h3>
      <div id="review-row">
        <p class="review">4.6</p>
        <div class="avg-review-stars">
          <i class="fa fa-star star1" aria-hidden="true"></i>
          <i class="fa fa-star star2" aria-hidden="true"></i>
          <i class="fa fa-star star3" aria-hidden="true"></i>
          <i class="fa fa-star star4" aria-hidden="true"></i>
          <i class="fa fa-star star5" aria-hidden="true"></i>
        </div>
        <div class="circle-divider"></div>
        <p class="review total">12 reviews</p>
      </div>
    </div>
      <div id="description">
        <p>The University of Florida Marston Science Library
          is the science and engineering library of the University
          of Florida located in Gainesville, Florida, and is
          administered by the university's George A. Smathers
          Libraries system</p>
      </div>
      <div class="divider"></div>
      <div id="popular">
        <div class="popular-times-row">
          <div class="popular-container">
            <div class="hour" id="0" style="height: 2%;"></div>
            <div class="hour" id="0" style="height: 2%;"></div>
            <div class="hour" id="0" style="height: 10%;"></div>
            <div class="hour" id="0" style="height: 20%;"></div>
            <div class="hour" id="0" style="height: 30%;"></div>
            <div class="hour" id="0" style="height: 45%;"></div>
            <div class="hour" id="0" style="height: 50%;"></div>
            <div class="hour" id="0" style="height: 65%;"></div>
            <div class="hour" id="0" style="height: 75%;"></div>
            <div class="hour" id="0" style="height: 85%;"></div>
            <div class="hour" id="0" style="height: 95%;"></div>
            <div class="hour" id="0" style="height: 90%;"></div>
            <div class="hour" id="0" style="height: 86%;"></div>
            <div class="hour" id="0" style="height: 50%;"></div>
            <div class="hour" id="0" style="height: 12%;"></div>
          </div>
          <div class="time-row">
            <div class="time">
              <p>6am</p>
            </div>
            <div class="time">
              <p>6am</p>
            </div>
            <div class="time">
              <p>6am</p>
            </div>
            <div class="time">
              <p>6am</p>
            </div>
            <div class="time">
              <p>6am</p>
            </div>
          </div>
        </div>
      </div>
      <div class="divider"></div>

      <div id="icon-stats">
        <div class="stat-row">
          <div class="stats-col">
            <i class="fa fa-building" aria-hidden="true"></i>
            <p>6 floors</p>
          </div>
          <div class="stats-col">
            <i class="fa fa-plug" aria-hidden="true"></i>
            <p>8 outlets</p>
          </div>
          <div class="stats-col">
            <i class="fa fa-institution" aria-hidden="true"></i>
            <p>Studying</p>
          </div>
          <div class="stats-col">
            <i class="fa fa-desktop" aria-hidden="true"></i>
            <p>Computers</p>
          </div>
        </div>
      </div>
      <div class="divider"></div>
  </div>
</div>
