<div class="container">
  <div class="col-xs-12">
    <h4>email</h4>
    <input type="text" name="" placeholder="johnny@bravo.inc" value="">
    <h4>password</h4>
    <input type="text" name="" placeholder="itsallinthehair" value="">
    <button type="button" name="button">Submit</button>
  </div>
</div>
